# Funcion completar tablas por año

In [22]:
import pandas as pd
from IPython.display import clear_output

## Tablas en inglés

In [10]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
#cargando el indice
indice = pd.read_csv('resources/indice_com.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [13]:
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios

    DEPARTAMENT  code_municipality                   municipality
0    CHUQUISACA              10101                          SUCRE
1    CHUQUISACA              10102                         YOTALA
2    CHUQUISACA              10103                         POROMA
3    CHUQUISACA              10201                        AZURDUY
4    CHUQUISACA              10202                        TARVITA
..          ...                ...                            ...
337       PANDO              90401  NACEBE (SANTA ROSA DEL ABUNA)
338       PANDO              90402               INGAVI (HUMAITA)
339       PANDO              90501  NUEVO MANOA (NUEVA ESPERANZA)
340       PANDO              90502        VILLA NUEVA (LOMA ALTA)
341       PANDO              90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [14]:
indice

,year,filename,grvar,grupo,subvar,variable
0,2005,datos/2005_diagnostic-suspicion_whooping-cough...,01,diagnostic suspicion,03,whooping cough
1,2005,datos/2005_diagnostic-suspicion_diphtheria.csv,01,diagnostic suspicion,04,diphtheria
2,2005,datos/2005_diagnostic-suspicion_bolivian-hemor...,02,diagnostic suspicion,09,Bolivian hemorrhagic fever
3,2005,datos/2005_diagnostic-suspicion_hantavirus-dis...,02,diagnostic suspicion,14,hantavirus disease
4,2005,datos/2005_other-infections_acute-respiratory-...,06,other infections,02,acute respiratory infection without pneumonia
...,...,...,...,...,...,...
193,2021,datos/2021_other-infections_pneumonia.csv,06,other infections,12,pneumonia
194,2021,datos/2021_mortality_under-5-mortality-due-to-...,09,mortality,10,under 5 mortality due to pneumonia
195,2021,datos/2021_vector-borne-diseases-vbd_leishmani...,17,vector-borne diseases (VBD),01,leishmaniasis
196,2021,datos/2021_vector-borne-diseases-vbd_acute-cha...,17,vector-borne diseases (VBD),02,acute Chagas disease
197,2021,datos/2021_vector-borne-diseases-vbd_malaria.csv,17,vector-borne diseases (VBD),04,malaria

In [17]:
def completando (indice_tab, municipios):
    errores = []
    len_seleccion = len(indice_tab)
    for i, f in enumerate(indice_tab.filename):
        clear_output(wait=True)
        print('{} / {}'.format(i+1, len_seleccion))
        try:
            dfi = pd.read_csv('{}'.format(f))
            #retiro los posibles duplicados por codigo
            dfi.drop_duplicates(subset=['code_municipality'])
            dfi_com = municipios.merge(dfi, on=['DEPARTAMENT','code_municipality', 'municipality'], how='left')
            dfi_com['group'] = dfi['group'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
            dfi_com['variable'] = dfi['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
            dfi_com['year'] = dfi['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
            dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
            dfi_com.to_csv('completando/{}'.format(f.split('/')[1]), index=False)
        except Exception as e:
            errores.append({'filename': f, 'error': e})

    return errores

In [18]:
completamos = completando(indice, todos_municipios)

198 / 198

C:\Users\USER\AppData\Local\Temp\ipykernel_10216\4121502967.py:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

In [19]:
completamos

[]

In [20]:
#aqui la tabla deberia salir completa 
indice_new = pd.read_csv('completando/indice_new.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [21]:
pd.read_csv('{}'.format(indice_new.sample()['filename'].iloc[0]))

,DEPARTAMENT,code_municipality,municipality,group,variable,year,men 1 year,women 1 year,men 1 to 4 years,women 1 to 4 years,...,women 5 to 9 years,men 10 to 20 years,women 10 to 20 years,men 21 to 59 years,women 21 to 59 years,men 60 and more years,women 60 and more years,men total,women total,total
0,CHUQUISACA,10101,SUCRE,other infections,leishmaniasis,2009.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
1,CHUQUISACA,10102,YOTALA,other infections,leishmaniasis,2009.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CHUQUISACA,10103,POROMA,other infections,leishmaniasis,2009.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CHUQUISACA,10201,AZURDUY,other infections,leishmaniasis,2009.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,CHUQUISACA,10202,TARVITA,other infections,leishmaniasis,2009.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),other infections,leishmaniasis,2009.0,0,0,0,0,...,0,4,6,5,2,0,1,10,9,19
339,PANDO,90402,INGAVI (HUMAITA),other infections,leishmaniasis,2009.0,0,0,0,0,...,0,7,1,2,1,1,0,11,2,13
340,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),other infections,leishmaniasis,2009.0,0,0,0,0,...,0,3,1,4,2,0,0,10,3,13
341,PANDO,90502,VILLA NUEVA (LOMA ALTA),other infections,leishmaniasis,2009.0,0,0,0,0,...,1,4,1,1,0,0,0,6,2,8
342,PANDO,90503,EUREKA (SANTOS MERCADO),other infections,leishmaniasis,2009.0,0,0,0,0,...,1,7,1,6,6,0,0,15,8,23

## Tablas anuales en español

In [24]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
#cargando el indice
indice = pd.read_csv('resources/indice.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [25]:
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENTO', 'COD_MUNICIPIO': 'codigo_municipio', 'MUNICIPIO': 'municipio'})
todos_municipios = todos_municipios[['DEPARTAMENTO','codigo_municipio','municipio']]
todos_municipios

    DEPARTAMENTO  codigo_municipio                      municipio
0     CHUQUISACA             10101                          SUCRE
1     CHUQUISACA             10102                         YOTALA
2     CHUQUISACA             10103                         POROMA
3     CHUQUISACA             10201                        AZURDUY
4     CHUQUISACA             10202                        TARVITA
..           ...               ...                            ...
337        PANDO             90401  NACEBE (SANTA ROSA DEL ABUNA)
338        PANDO             90402               INGAVI (HUMAITA)
339        PANDO             90501  NUEVO MANOA (NUEVA ESPERANZA)
340        PANDO             90502        VILLA NUEVA (LOMA ALTA)
341        PANDO             90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [26]:
indice

,year,filename,grvar,grupo,subvar,variable
0,2005,datos/2005_sospecha-diagnostica_tos-ferina.csv,01,sospecha diagnostica,03,tos ferina
1,2005,datos/2005_sospecha-diagnostica_difteria.csv,01,sospecha diagnostica,04,difteria
2,2005,datos/2005_sospecha-diagnostica_fiebre-hemorra...,02,sospecha diagnostica,09,fiebre hemorrag. bol
3,2005,datos/2005_sospecha-diagnostica_enfer-por-hant...,02,sospecha diagnostica,14,enfer. por hanta virus
4,2005,datos/2005_otras-infecciones_ira-sin-neumonia.csv,06,otras infecciones,02,ira sin neumonia
...,...,...,...,...,...,...
193,2021,datos/2021_otras-infecciones_neumonia.csv,06,otras infecciones,12,neumonia
194,2021,datos/2021_mortalidad_muerte-menor-de-5-anos-p...,09,mortalidad,10,muerte menor de 5 anos por neumonia
195,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),01,leishmaniasis
196,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),02,chagas agudo
197,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),04,malaria

In [27]:
def completando2 (indice_tab, municipios):
    errores = []
    len_seleccion = len(indice_tab)
    for i, f in enumerate(indice_tab.filename):
        clear_output(wait=True)
        print('{} / {}'.format(i+1, len_seleccion))
        try:
            dfi = pd.read_csv('{}'.format(f))
            #retiro los posibles duplicados por codigo
            dfi.drop_duplicates(subset=['codigo_municipio'])
            dfi_com = municipios.merge(dfi, on=['DEPARTAMENTO','codigo_municipio', 'municipio'], how='left')
            dfi_com['grupo'] = dfi['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
            dfi_com['variable'] = dfi['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
            dfi_com['year'] = dfi['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
            dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
            dfi_com.to_csv('completando/{}'.format(f.split('/')[1]), index=False)
        except Exception as e:
            errores.append({'filename': f, 'error': e})

    return errores

In [28]:
completamos = completando2(indice, todos_municipios)

C:\Users\USER\AppData\Local\Temp\ipykernel_10216\2431679299.py:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

198 / 198

In [29]:
completamos

[]

In [31]:
#aqui la tabla deberia salir completa 
indice_nuevo = pd.read_csv('completando/indice_nuevo.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [35]:
pd.read_csv('{}'.format(indice_nuevo.sample()['filename'].iloc[0]))

,DEPARTAMENTO,codigo_municipio,municipio,grupo,variable,year,hombres de 1 año,mujeres de 1 año,hombres de 1 a 4 años,mujeres de 1 a 4 años,...,mujeres de 5 a 9 años,hombres de 10 a 20 años,mujeres de 10 a 20 años,hombres de 21 a 59 años,mujeres de 21 a 59 años,hombres de 60 y más años,mujeres de 60 y más años,hombres total,mujeres total,total
0,CHUQUISACA,10101,SUCRE,otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,0,0,1,1,1,1,2,3
1,CHUQUISACA,10102,YOTALA,otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CHUQUISACA,10103,POROMA,otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CHUQUISACA,10201,AZURDUY,otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
4,CHUQUISACA,10202,TARVITA,otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,2,0,3,2,0,0,5,2,7
338,PANDO,90402,INGAVI (HUMAITA),otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,0,1,1,0,1,0,2,1,3
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,9,0,6,2,0,0,16,2,18
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,1,1,1,1,0,0,2,2,4
341,PANDO,90503,EUREKA (SANTOS MERCADO),otras infecciones,leishmaniasis sospechosos,2012.0,0,0,0,0,...,0,3,1,9,4,0,0,13,5,18