## Esta version es para corregir algunas tablas que no tienen 342 municipios por alguna razon estan dispares y al 
## momento de unirlas todas en una se nota la diferencia en el data frame

In [1]:
import pandas as pd
import os

* leishmaniasis         
* malaria
* pneumonia
* diagnostic suspicion hantavirus
* ARI
* diagnostic suspicion diphtheria
* diagnostic suspicion hemorrhagic fever
* tuberculosis smear negative
* avian influenza
* respiratory symptomatic

In [2]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('C:/Users/USER/Documents/data_disease/resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
#al ingles
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios

    DEPARTAMENT  code_municipality                   municipality
0    CHUQUISACA              10101                          SUCRE
1    CHUQUISACA              10102                         YOTALA
2    CHUQUISACA              10103                         POROMA
3    CHUQUISACA              10201                        AZURDUY
4    CHUQUISACA              10202                        TARVITA
..          ...                ...                            ...
337       PANDO              90401  NACEBE (SANTA ROSA DEL ABUNA)
338       PANDO              90402               INGAVI (HUMAITA)
339       PANDO              90501  NUEVO MANOA (NUEVA ESPERANZA)
340       PANDO              90502        VILLA NUEVA (LOMA ALTA)
341       PANDO              90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [3]:
# Uso de la función
dir_entrada = 'C:/Users/USER/Documents/Boliva_entrega/Supporting_information_5/other_respiratory'  # Reemplaza con la ruta de tu directorio de entrada
dir_salida = 'C:/Users/USER/Documents/Boliva_entrega/Supporting_information_5/other_respiratory/respiratory_symptomatic'  # Reemplaza con la ruta de tu directorio de salida

# Funcion para buscar archivos y estandarizar las tablas no necesita un csv indice

In [4]:
def completando4(dir_entrada, dir_salida, municipios):
    # Lista de archivos en el directorio de entrada
    archivos = os.listdir(dir_entrada)

    for archivo in archivos:
        # Verificar si es un archivo CSV
        if archivo.endswith(".csv"):
            ruta_completa_entrada = os.path.join(dir_entrada, archivo)

            try:
                # Leer el archivo CSV y forzar la columna 'year' a tipo entero
                dfi = pd.read_csv(ruta_completa_entrada, dtype={'year': int})
                
                # Retirar los posibles duplicados por código de municipio
                dfi.drop_duplicates(subset=['code_municipality'], inplace=True)

                # Realizar la fusión con los municipios
                dfi_com = municipios.merge(dfi, on=['DEPARTAMENT', 'code_municipality', 'municipality'], how='left')

                # Asignar valores únicos
                dfi_com['group'] = dfi['group'].unique()[0]
                dfi_com['variable'] = dfi['variable'].unique()[0]
                dfi_com['year'] = dfi['year'].unique()[0]

                # Rellenar valores nulos y convertir a enteros
                dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

                # Ruta de salida para el archivo procesado
                ruta_completa_salida = os.path.join(dir_salida, archivo)

                # Guardar el archivo procesado en el directorio de salida
                dfi_com.to_csv(ruta_completa_salida, index=False)

            except Exception as e:
                print(f"Error al procesar el archivo {archivo}: {e}")

In [5]:
completando4(dir_entrada, dir_salida, todos_municipios)

C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
C:\Users\USER\AppData\Local\Temp\ipykernel_6968\4000308097.py:26: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

In [6]:
import random

directorio = dir_salida  # Reemplaza con la ruta de tu directorio de tablas

# Lista de archivos CSV en el directorio
archivos = [archivo for archivo in os.listdir(directorio) if archivo.endswith(".csv")]

# Elegir un archivo al azar
archivo_azar = random.choice(archivos)

# Ruta completa del archivo
ruta_completa = os.path.join(directorio, archivo_azar)

# Leer el archivo CSV al azar
df_azar = pd.read_csv(ruta_completa)

# Imprimir el DataFrame
df_azar

,DEPARTAMENT,code_municipality,municipality,group,variable,year,men under 1 year,women under 1 year,men 1 to 4 years,women 1 to 4 years,men 5 to 14 years,women 5 to 14 years,men 15 to 59 years,women 15 to 59 years,men 60 and more years,women 60 and more years,men total,women total,total
0,CHUQUISACA,10101,SUCRE,tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,144,0,1316,0,365,0,1825,0,1825
1,CHUQUISACA,10102,YOTALA,tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,5,0,86,0,16,0,107,0,107
2,CHUQUISACA,10103,POROMA,tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,6,0,99,0,55,0,160,0,160
3,CHUQUISACA,10201,AZURDUY,tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,5,0,35,0,59,0,99,0,99
4,CHUQUISACA,10202,TARVITA,tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,10,0,92,0,75,0,177,0,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,0,0,7,0,1,0,8,0,8
338,PANDO,90402,INGAVI (HUMAITA),tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,0,0,3,0,0,0,3,0,3
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,4,0,14,0,2,0,20,0,20
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,0,0,5,0,1,0,6,0,6
341,PANDO,90503,EUREKA (SANTOS MERCADO),tuberculosis and leprosy,respiratory symptomatic,2005,0,0,0,0,0,0,4,0,1,0,5,0,5