# Uniformizar la cantidad de municipios en las tablas 2001 2004

In [5]:
import pandas as pd
from IPython.display import clear_output

arreglos previos para obtener el indice

In [25]:
#ind1=pd.read_csv('C:/Users/USER/Documents/falta_2001_2004/indice_2001_2004_todos.csv',dtype={'grvar': str, 'subvar': str})
#variables=pd.read_csv('C:/Users/USER/Documents/falta_2001_2004/var_filt_2001_2004.csv',dtype={'grvar': str, 'subvar': str})

In [26]:
ind1

,year,filename,grvar,grupo,subvar,variable
0,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,01,enfermedades del sistema nervioso
1,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,02,enfermedades del ojo y anexos
2,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,03,enfermedades del oido y apofisis mastoides
3,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio
4,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio
...,...,...,...,...,...,...
1565,2021,datos/2021_eventos-notificacion-inmediata-part...,16,eventos - notificacion inmediata parte ii,03,otros de excepcion
1566,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),01,leishmaniasis
1567,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),02,chagas agudo
1568,2021,datos/2021_enfermedades-transmitidas-por-vecto...,17,enfermedades transmitidas por vectores (etv),04,malaria
1569,2021,datos/2021_mortalidad-materna_sospecha-de-muer...,18,mortalidad materna,01,sospecha de muerte materna

In [27]:
#variables

,year,grvar,grupo,subvar,variable
0,2001,00,clasificacion general sistemica,02,enfermedades del ojo y anexos
1,2001,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio
2,2001,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio
3,2001,01,sospecha diagnostica,03,tosferina
4,2001,01,sospecha diagnostica,04,difteria
...,...,...,...,...,...
71,2004,07,tuberculosis,04,tuberculosis pulmonar baar - nuevos
72,2004,09,mortalidad institucional,05,muerte menor de 5 anos por neumonia
73,2004,09,mortalidad institucional,08,muerte por malaria (p. falciparum)
74,2004,14,enfermedades metaxenicas,01,malaria
75,2004,14,enfermedades metaxenicas,02,leishmaniasis

In [28]:
#indice =variables.merge(ind1, on=['year','grvar', 'subvar', 'grupo', 'variable'], how='left')
#indice

,year,grvar,grupo,subvar,variable,filename
0,2001,00,clasificacion general sistemica,02,enfermedades del ojo y anexos,datos/2001_clasificacion-general-sistemica_enf...
1,2001,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio,datos/2001_clasificacion-general-sistemica_enf...
2,2001,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio,datos/2001_clasificacion-general-sistemica_enf...
3,2001,01,sospecha diagnostica,03,tosferina,datos/2001_sospecha-diagnostica_tosferina.csv
4,2001,01,sospecha diagnostica,04,difteria,datos/2001_sospecha-diagnostica_difteria.csv
...,...,...,...,...,...,...
71,2004,07,tuberculosis,04,tuberculosis pulmonar baar - nuevos,datos/2004_tuberculosis_tuberculosis-pulmonar-...
72,2004,09,mortalidad institucional,05,muerte menor de 5 anos por neumonia,datos/2004_mortalidad-institucional_muerte-men...
73,2004,09,mortalidad institucional,08,muerte por malaria (p. falciparum),datos/2004_mortalidad-institucional_muerte-por...
74,2004,14,enfermedades metaxenicas,01,malaria,datos/2004_enfermedades-metaxenicas_malaria.csv
75,2004,14,enfermedades metaxenicas,02,leishmaniasis,datos/2004_enfermedades-metaxenicas_leishmania...

In [29]:
#indice =indice [['year','filename', 'grvar', 'grupo', 'subvar', 'variable']]
#indice[:3]

,year,filename,grvar,grupo,subvar,variable
0,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,02,enfermedades del ojo y anexos
1,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio
2,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio

In [11]:
#indice.to_csv('C:/Users/USER/Documents/falta_2001_2004/indice_0104.csv', index =False)
indice = pd.read_csv('C:/Users/USER/Documents/falta_2001_2004/indice_0104.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

## Tablas en inglés

In [9]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos

In [10]:
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENT', 'COD_MUNICIPIO': 'code_municipality', 'MUNICIPIO': 'municipality'})
todos_municipios = todos_municipios[['DEPARTAMENT', 'code_municipality', 'municipality']]
todos_municipios

    DEPARTAMENT  code_municipality                   municipality
0    CHUQUISACA              10101                          SUCRE
1    CHUQUISACA              10102                         YOTALA
2    CHUQUISACA              10103                         POROMA
3    CHUQUISACA              10201                        AZURDUY
4    CHUQUISACA              10202                        TARVITA
..          ...                ...                            ...
337       PANDO              90401  NACEBE (SANTA ROSA DEL ABUNA)
338       PANDO              90402               INGAVI (HUMAITA)
339       PANDO              90501  NUEVO MANOA (NUEVA ESPERANZA)
340       PANDO              90502        VILLA NUEVA (LOMA ALTA)
341       PANDO              90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [12]:
def completando1 (indice_tab, municipios):
    errores = []
    len_seleccion = len(indice_tab)
    translated_filenames = []  # Lista para almacenar los nombres de archivo traducidos
    
    for i, f in enumerate(indice_tab.filename):
        clear_output(wait=True)
        print('{} / {}'.format(i+1, len_seleccion))
        try:
            dfi = pd.read_csv('{}'.format(f))
            
            #traduzco
            dfi = dfi.rename(columns={'codigo_municipio':'code_municipality', 'municipio' :'municipality', 'grupo':'group' })
            # Convertir la columna "mes" a formato de fecha
            dfi['mes'] = pd.to_datetime(dfi['mes'])
            # Agregar columnas "año" y "departamento" basadas en la columna "mes"
            dfi['year'] = dfi['mes'].dt.year
            # Sumar los valores mensuales por municipio y año
            dfi_sumado = dfi.groupby(['code_municipality', 'municipality', 'group', 'variable','year']).sum().reset_index()
            
            #traduciendo grupo 
            valores_unicos = dfi_sumado["group"].unique()
            valores_unicos
            # Creamos un diccionario que mapea los valores originales a los valores traducidos
            grupo_dict = {
                            "clasificacion general sistemica": "systemic classification",
                            "sospecha diagnostica": "diagnostic suspicion",
                            "inmunoprevenibles": "immunization preventable",
                            "otras infecciones": "other infections",
                            "tuberculosis (casos confirmados)": "tuberculosis confirmed cases",
                            "mortalidad en el establecimiento ( leatalidad)": "institutional mortality lethality",
                            "enfermedades metaxenicas": "metazoan diseases",
                            "tuberculosis": "tuberculosis",
                            "mortalidad institucional": "institutional mortality"
                        }
               
            # Aplicamos la función de traducción a la columna
            dfi_sumado["group"] = dfi_sumado["group"].apply(lambda x: grupo_dict.get(x, x))
            
            #traduciendo variable
            valores_unicos = dfi_sumado["variable"].unique()
            valores_unicos
            # Creamos un diccionario que mapea los valores originales a los valores traducidos
            
            variables_dict = {
                "enfermedades del ojo y anexos": "eye and adnexal diseases",
                "enfermedades del sistema cardio circulatorio": "cardiovascular system diseases",
                "enfermedades del sistema respiratorio": "respiratory system diseases",
                "tosferina": "whooping cough",
                "difteria": "diphtheria",
                "fiebre hemorragica": "hemorrhagic fever",
                "hantavirus": "hantavirus",
                "tosferina (3*)": "whooping cough 3",
                "difteria (4*)": "diphtheria 4",
                "neumonia": "pneumonia",
                "sintomatico respiratorio": "respiratory symptomatic",
                "fiebre hemorragica (13*)": "hemorrhagic fever 13",
                "enfermedad respiratoria hanta (14*)": "Hanta respiratory disease 14",
                "tuberculosis pulmonar baar (+) nuevos": "pulmonary tuberculosis smear positive new cases",
                "tuberculosis pulmonar baar (-)": "pulmonary tuberculosis smear negative",
                "tuberculosis pulmonar baar (+) prevamente tratados": "pulmonary tuberculosis smear positive previously treated",
                "tuberculosis pulmonar baar + nuevos":"pulmonary tuberculosis smear positive new cases",
                "tuberculosis pulmonar baar - nuevos":"pulmonary tuberculosis smear negative new cases",
                "muerte menor de 5 anos por neumonia": "under 5 mortality due to pneumonia",
                "muerte por malaria (p. falciparum)": "mortality due to malaria plasmodium falciparum",
                "malaria": "malaria",
                "leishmaniasis": "leishmaniasis",
                "enfermedades de chagas aguda": "acute Chagas disease",
                "ira sin neumonia": "acute respiratory infection without pneumonia",
                "fiebre hemorrag. bol": "Bolivian hemorrhagic fever",
                "enfer. por hanta virus": "hantavirus disease"
            }


            # Aplicamos la función de traducción a la columna
            dfi_sumado["variable"] = dfi_sumado["variable"].apply(lambda x: variables_dict.get(x, x))

            #agregando municipios faltantes
            dfi_com = municipios.merge(dfi_sumado, on=['code_municipality', 'municipality'], how='left')
            dfi_com['group'] = dfi_sumado['group'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
            dfi_com['variable'] = dfi_sumado['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
            dfi_com['year'] = dfi_sumado['year'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
            dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

            # Guardar el archivo con nombre traducido en la carpeta "completando"
            translated_filename = '{}_{}_{}.csv'.format(
                dfi_sumado['year'].unique()[0],
                dfi_sumado['group'].unique()[0].replace(' ', '_'),
                dfi_sumado['variable'].unique()[0].replace(' ', '_')
            )
            dfi_com.to_csv('completando/{}'.format(translated_filename), index=False)
            
            # Agregar el nombre de archivo traducido a la lista
            translated_filenames.append(translated_filename)
            
            # Crear el DataFrame para el nuevo índice y guardarlo como archivo CSV
            indice_new = pd.DataFrame({
                'year': [name.split('_')[0] for name in translated_filenames],
                'filename': ['completando/' + name for name in translated_filenames],
                'grvar':indice_tab.iloc[i].grvar,  # Usar el valor de grvar de la fila actual
                'grupo': [name.split('_')[1] for name in translated_filenames],
                'subvar': indice_tab.iloc[i].subvar,  # Usar el valor de subvar de la fila actual
                'variable': [name.split('_')[2].split('.')[0] for name in translated_filenames]
            })
            indice_new.to_csv('completando/indice_new.csv', index=False)
    
        except Exception as e:
            errores.append({'filename': f, 'error': e})

    return errores

In [13]:
indice

,year,filename,grvar,grupo,subvar,variable
0,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,02,enfermedades del ojo y anexos
1,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio
2,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio
3,2001,datos/2001_sospecha-diagnostica_tosferina.csv,01,sospecha diagnostica,03,tosferina
4,2001,datos/2001_sospecha-diagnostica_difteria.csv,01,sospecha diagnostica,04,difteria
...,...,...,...,...,...,...
69,2004,datos/2004_tuberculosis_tuberculosis-pulmonar-...,07,tuberculosis,04,tuberculosis pulmonar baar - nuevos
70,2004,datos/2004_mortalidad-institucional_muerte-men...,09,mortalidad institucional,05,muerte menor de 5 anos por neumonia
71,2004,datos/2004_mortalidad-institucional_muerte-por...,09,mortalidad institucional,08,muerte por malaria (p. falciparum)
72,2004,datos/2004_enfermedades-metaxenicas_malaria.csv,14,enfermedades metaxenicas,01,malaria
73,2004,datos/2004_enfermedades-metaxenicas_leishmania...,14,enfermedades metaxenicas,02,leishmaniasis

In [15]:
completamos = completando1(indice, todos_municipios)

74 / 74

C:\Users\USER\AppData\Local\Temp\ipykernel_1972\3115234920.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfi_sumado = dfi.groupby(['code_municipality', 'municipality', 'group', 'variable','year']).sum().reset_index()
C:\Users\USER\AppData\Local\Temp\ipykernel_1972\3115234920.py:83: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

In [16]:
completamos
##interesante no hay nada en estas tablas las eliminamos del indice y de las variables
#[{'filename': 'datos/2001_sospecha-diagnostica_fiebre-hemorragica.csv',
#  'error': IndexError('index 0 is out of bounds for axis 0 with size 0')},
# {'filename': 'datos/2002_sospecha-diagnostica_fiebre-hemorragica.csv',
#  'error': IndexError('index 0 is out of bounds for axis 0 with size 0')}]

[]

In [17]:
#aqui la tabla deberia salir completa 
indice_new = pd.read_csv('completando/indice_new.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [18]:
pd.read_csv('{}'.format(indice_new.sample()['filename'].iloc[0]))

,DEPARTAMENT,code_municipality,municipality,group,variable,year,hombres menores a 1 año,mujeres menores a 1 año,hombres de 1 a 4 años,mujeres de 1 a 4 años,hombres de 5 a 14 años,mujeres de 5 a 14 años,hombres de 15 a 59 años,mujeres de 15 a 59 años,hombres de 60 y más años,mujeres de 60 y más años,hombres total,mujeres total,total
0,CHUQUISACA,10101,SUCRE,other infections,pneumonia,2002,1911,0,2709,0,367,0,497,0,157,0,5641,0,5641
1,CHUQUISACA,10102,YOTALA,other infections,pneumonia,2002,94,0,184,0,12,0,9,0,9,0,308,0,308
2,CHUQUISACA,10103,POROMA,other infections,pneumonia,2002,86,0,239,0,22,0,35,0,6,0,388,0,388
3,CHUQUISACA,10201,AZURDUY,other infections,pneumonia,2002,60,0,132,0,11,0,38,0,16,0,257,0,257
4,CHUQUISACA,10202,TARVITA,other infections,pneumonia,2002,158,0,276,0,29,0,33,0,19,0,515,0,515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),other infections,pneumonia,2002,6,0,21,0,7,0,4,0,0,0,38,0,38
338,PANDO,90402,INGAVI (HUMAITA),other infections,pneumonia,2002,2,0,3,0,0,0,2,0,0,0,7,0,7
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),other infections,pneumonia,2002,4,0,11,0,0,0,4,0,0,0,19,0,19
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),other infections,pneumonia,2002,11,0,6,0,1,0,1,0,1,0,20,0,20
341,PANDO,90503,EUREKA (SANTOS MERCADO),other infections,pneumonia,2002,0,0,0,0,1,0,0,0,0,0,1,0,1

## Cambiar los encabezados

In [2]:
import itertools
import re

In [6]:
#encabezados traducidos
patterns_combined= {
    'within': {
        'inside healthcare facilities': 'dentro de establecimientos',
        'outside healthcare facilities': 'fuera de establecimientos'
    },
    'gender': {
        'men': 'hombres',
        'women': 'mujeres'
    },
    'age': {
        'under 1 year': 'menores a 1 año',
        '1 to 4 years': 'de 1 a 4 años',
        '5 to 14 years': 'de 5 a 14 años',
        '15 to 59 years': 'de 15 a 59 años',
        '60 and more years': 'de 60 y más años',
        '5 to 9 years': 'de 5 a 9 años',
        '10 to 20 years': 'de 10 a 20 años',
        '21 to 59 years': 'de 21 a 59 años',
        '1 year': 'de 1 año',
        'under 2 years': 'menores a 2 años',
        '2 to 4 years': 'de 2 a 4 años',
        '1 to 2 years': 'de 1 a 2 años',
        '2 to 5 years': 'de 2 a 5 años',
        'under 6 months': 'menores a 6 meses',
        '6 months to 1 year': 'de 6 meses a 1 año',
        '10 to 14 years': 'de 10 a 14 años',
        '15 to 19 years': 'de 15 a 19 años',
        '20 to 39 years': 'de 20 a 39 años',
        '40 to 49 years': 'de 40 a 49 años',
        '50 to 59 years': 'de 50 a 59 años',
        '6 months': 'de 6 meses'
    },
    'special': {
        'total': 'total',
        'quantity': 'cantidad',
        'pregnant according to BMI': 'embarazadas según IMC',
        'general population according to BMI': 'población general según IMC',
        'number of events': 'número de eventos',
        'number of affected': 'número de afectados',
        'number of deceased': 'número de fallecidos'
    }
}
def infer_category(text, patterns_combined, lower=False):
    
    if lower:
        text = text.lower()
    
    category = None
    
    for k in patterns_combined.keys():
        if len(re.findall(patterns_combined[k], text)) > 0:
            category = k
    
    return category

def field_format(text):
    if text == None:
        return ''
    else:
        return text

In [19]:
## Contruyo una lista con todos los nombres de columnas en todos los sets de datos

indice = pd.read_csv('completando/indice_new.csv', dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar
unicos = indice[['grvar', 'subvar', 'grupo', 'variable']].drop_duplicates(subset=['grvar', 'subvar', 'variable']).reset_index(drop=True)
unicos = unicos[unicos.variable.notna()]

schemas = []

for i, condicion in unicos.iterrows():
    
    for e, row in indice[(indice.grvar == condicion.grvar) & (indice.subvar == condicion.subvar) & (indice.variable == condicion.variable)].iterrows():
        schemas.append({**row, **{'columns': pd.read_csv('' + row.filename).columns.tolist()}})
        
schemas = pd.DataFrame(schemas)

columnas = pd.Series(list(itertools.chain.from_iterable(schemas['columns'].drop_duplicates().tolist()))).drop_duplicates().tolist()

## Infiero atributos en estos nombres: si se refiere a hombres o mujeres, si describe casos que ocurren dentro o fuera de establecimientos de salud, qué rangos de edad representan y si indican alguna población en particular

column_classes = pd.DataFrame({c: {k: infer_category(c, patterns_combined[k]) for k in patterns_combined.keys()} for c in columnas[6:]}).T##son 6 COLUMNAS

## Compongo una descripción con estos atributos

column_descriptions = column_classes.apply(lambda row: ' '.join(' '.join([field_format(field) for field in row]).split()), axis=1).to_dict()

In [20]:
## Remplazo los nombres de columnas en cada documento producido

for fn in indice.filename.tolist():
    filename = '' + fn
    dfi = pd.read_csv(filename)
    dfi.columns = [column_descriptions[c] if c in column_descriptions.keys() else c for c in dfi.columns]
    dfi.to_csv(filename, index=False)

In [30]:
##veamos el resultado
pd.read_csv('{}'.format(indice_new.sample()['filename'].iloc[0]))

,DEPARTAMENT,code_municipality,municipality,group,variable,year,men under 1 year,women under 1 year,men 1 to 4 years,women 1 to 4 years,men 5 to 14 years,women 5 to 14 years,men 15 to 59 years,women 15 to 59 years,men 60 and more years,women 60 and more years,men total,women total,total
0,CHUQUISACA,10101,SUCRE,metazoan diseases,malaria,2001,4,0,17,0,17,0,73,0,9,0,120,0,120
1,CHUQUISACA,10102,YOTALA,metazoan diseases,malaria,2001,1,0,1,0,0,0,1,0,1,0,4,0,4
2,CHUQUISACA,10103,POROMA,metazoan diseases,malaria,2001,2,0,12,0,32,0,123,0,13,0,182,0,182
3,CHUQUISACA,10201,AZURDUY,metazoan diseases,malaria,2001,5,0,14,0,27,0,146,0,19,0,211,0,211
4,CHUQUISACA,10202,TARVITA,metazoan diseases,malaria,2001,3,0,6,0,10,0,48,0,10,0,77,0,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),metazoan diseases,malaria,2001,2,0,8,0,20,0,75,0,8,0,113,0,113
338,PANDO,90402,INGAVI (HUMAITA),metazoan diseases,malaria,2001,0,0,0,0,1,0,7,0,0,0,8,0,8
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),metazoan diseases,malaria,2001,0,0,25,0,82,0,89,0,3,0,199,0,199
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),metazoan diseases,malaria,2001,0,0,2,0,10,0,27,0,0,0,39,0,39
341,PANDO,90503,EUREKA (SANTOS MERCADO),metazoan diseases,malaria,2001,1,0,0,0,0,0,15,0,0,0,16,0,16

## Tablas anuales 2001 al 2004 en español

In [45]:
#cargando el CSV con la lista de departamentos y sus municipios
todos_municipios = pd.read_csv('resources/municipios_snis_corregido.csv')##tabla editada luego de eliminar muncipios repetidos
#cargando el indice
indice = pd.read_csv('resources/indice_0104.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [46]:
todos_municipios = todos_municipios.rename(columns={'DEPARTAMENTO': 'DEPARTAMENTO', 'COD_MUNICIPIO': 'codigo_municipio', 'MUNICIPIO': 'municipio'})
todos_municipios = todos_municipios[['DEPARTAMENTO','codigo_municipio','municipio']]
todos_municipios

    DEPARTAMENTO  codigo_municipio                      municipio
0     CHUQUISACA             10101                          SUCRE
1     CHUQUISACA             10102                         YOTALA
2     CHUQUISACA             10103                         POROMA
3     CHUQUISACA             10201                        AZURDUY
4     CHUQUISACA             10202                        TARVITA
..           ...               ...                            ...
337        PANDO             90401  NACEBE (SANTA ROSA DEL ABUNA)
338        PANDO             90402               INGAVI (HUMAITA)
339        PANDO             90501  NUEVO MANOA (NUEVA ESPERANZA)
340        PANDO             90502        VILLA NUEVA (LOMA ALTA)
341        PANDO             90503        EUREKA (SANTOS MERCADO)

[342 rows x 3 columns]

In [47]:
indice

,year,filename,grvar,grupo,subvar,variable
0,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,02,enfermedades del ojo y anexos
1,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,04,enfermedades del sistema cardio circulatorio
2,2001,datos/2001_clasificacion-general-sistemica_enf...,00,clasificacion general sistemica,05,enfermedades del sistema respiratorio
3,2001,datos/2001_sospecha-diagnostica_tosferina.csv,01,sospecha diagnostica,03,tosferina
4,2001,datos/2001_sospecha-diagnostica_difteria.csv,01,sospecha diagnostica,04,difteria
...,...,...,...,...,...,...
69,2004,datos/2004_tuberculosis_tuberculosis-pulmonar-...,07,tuberculosis,04,tuberculosis pulmonar baar - nuevos
70,2004,datos/2004_mortalidad-institucional_muerte-men...,09,mortalidad institucional,05,muerte menor de 5 anos por neumonia
71,2004,datos/2004_mortalidad-institucional_muerte-por...,09,mortalidad institucional,08,muerte por malaria (p. falciparum)
72,2004,datos/2004_enfermedades-metaxenicas_malaria.csv,14,enfermedades metaxenicas,01,malaria
73,2004,datos/2004_enfermedades-metaxenicas_leishmania...,14,enfermedades metaxenicas,02,leishmaniasis

In [71]:
def completando3 (indice_tab, municipios):
    errores = []
    len_seleccion = len(indice_tab)
    
    for i, f in enumerate(indice_tab.filename):
        clear_output(wait=True)
        print('{} / {}'.format(i+1, len_seleccion))
        try:
            dfi = pd.read_csv('{}'.format(f))
            
            # Convertir la columna "mes" a formato de fecha
            dfi['mes'] = pd.to_datetime(dfi['mes'])
            # Agregar columnas "año" y "departamento" basadas en la columna "mes"
            dfi['año'] = dfi['mes'].dt.year
            # Sumar los valores mensuales por municipio y año
            dfi_sumado = dfi.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()
            
            #agregando municipios faltantes
            dfi_com = municipios.merge(dfi_sumado, on=['codigo_municipio', 'municipio'], how='left')
            dfi_com['grupo'] = dfi_sumado['grupo'].unique()[0]  # Asigna el valor único de 'grupo' en tabla_incompleta
            dfi_com['variable'] = dfi_sumado['variable'].unique()[0]  # Asigna el valor único de 'variable' en tabla_incompleta
            dfi_com['año'] = dfi_sumado['año'].unique()[0]  # Asigna el valor único de 'año' en tabla_incompleta
            dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)
            dfi_com.to_csv('completando/{}'.format(f.split('/')[1]), index=False)
        except Exception as e:
            errores.append({'filename': f, 'error': e})

    return errores

In [72]:
completamos = completando3(indice, todos_municipios)

74 / 74

C:\Users\USER\AppData\Local\Temp\ipykernel_1972\1864374543.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfi_sumado = dfi.groupby(['codigo_municipio', 'municipio', 'grupo', 'variable','año']).sum().reset_index()
C:\Users\USER\AppData\Local\Temp\ipykernel_1972\1864374543.py:23: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dfi_com.iloc[:, 6:] = dfi_com.iloc[:, 6:].fillna(0).astype(int)

In [73]:
completamos

[]

In [74]:
#aqui la tabla deberia salir completa 
indice_nuevo = pd.read_csv('completando/indice_nuevo.csv',dtype={'grvar': str, 'subvar': str})#no olvidarse espeificar el type de datos que son grvar y subvar

In [84]:
pd.read_csv('{}'.format(indice_nuevo.sample()['filename'].iloc[0]))

,DEPARTAMENTO,codigo_municipio,municipio,grupo,variable,año,hombres total,mujeres total,total
0,CHUQUISACA,10101,SUCRE,tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,78,0,78
1,CHUQUISACA,10102,YOTALA,tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,3,0,3
2,CHUQUISACA,10103,POROMA,tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
3,CHUQUISACA,10201,AZURDUY,tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
4,CHUQUISACA,10202,TARVITA,tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
...,...,...,...,...,...,...,...,...,...
337,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
338,PANDO,90402,INGAVI (HUMAITA),tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
339,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
340,PANDO,90502,VILLA NUEVA (LOMA ALTA),tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0
341,PANDO,90503,EUREKA (SANTOS MERCADO),tuberculosis (casos confirmados),tuberculosis pulmonar baar (-),2001,0,0,0